{% extends '@!EasyAdmin/layout.html.twig' %}



{% block head_stylesheets %}
    {{ encore_entry_link_tags('app') }} {# "app" is the name of your entry point, which usually matches "app.js" #}
    {{ parent() }}
{% endblock %}
{% block title %}Réinitialisation de mot de passe{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
                </div>
                
                {{ form_start(passForm, { 'attr': {'class': 'animate__animated animate__fadeIn'} }) }}
                    <div class="form-group">
                        {{ form_label(passForm.password, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(passForm.password, {'attr': {'class': 'form-control', 'aria-label': 'Nouveau mot de passe'} }) }}
                    </div>
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-lg btn-primary animate__animated animate__pulse animate__infinite">Envoyer</button>
                    </div>
                {{ form_end(passForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
