{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<h1>Changer le mot de passe</h1>

<form method="post" action="{{ path('change_password') }}">
    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.newPasswordConfirmation) }}
    <button type="submit">Changer le mot de passe</button>
    {{ form_end(form) }}
</form>

{% endblock %}
